h1 {
    text-align: left;
    text-transform: uppercase;
    color: #4CAF50;
    font-family: "Liberation Sans", sans-serif;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
a {
    text-decoration:none;
    color: #008CBA;
}

label, input, button {
    font-size: inherit;
    padding: 0.55em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#progressBar {
    background-color: lightgray;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 50%;
    float: left;
}

#progressBar > div {
    background-color: #4CAF50;
    width: 40%; /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}


#submit, #download {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    display: inline-block;
    float: right;
    width: 10%;
}

#submit {
    margin-right: 38%;
}
#download {
    position: relative;
    left: -38%;
}

#url {
    width: 50%;
    padding: 0.5% 0.5%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
    align-content: flex-start;
    display: inline-block;
    float: left;
}
